<script>
    $(document).ready(function() {
        $.get('/getDetails', null, function(result) {

            $("#navName").text(result.name);

            if(result.type == 'user') {
                $('#create-appointments').prop('hidden', true);
                $('#admin').prop('hidden', true);
            }
            if(result.type == 'doctor') {
                $('#admin').prop('hidden', true);
            }
            if(result.type == 'admin') {
                $('#create-appointments').prop('hidden', true);
            }
        });
    });
</script>

<nav class="navbar sticky-top navbar-expand-lg">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-1">
            <li class="nav-item active">
                <img src="assets/test.png">
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li>
                <a class="nav-link" href="/homeDoctors">Med Aid</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <input type="text" class="search pl-3" placeholder="Search"/>
    </div>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <div class="dropdown show ml-auto">
            
            <p id="navName" style="display:inline" class="btn nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></p>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navName">
                <a class="dropdown-item" href="/upcomingAppointments" id="profile">Profile</a>
                <a class="dropdown-item" href="/createAppointments" id="create-appointments">Create Appointments</a>
                {{!-- <a class="dropdown-item" href="/doctorPendingAppointments" id="pending-appointments">Pending Appointments</a> --}}
                <a class="dropdown-item" href="/adminPending" id="admin">Admin</a>
                <a class="dropdown-item" href="/">Logout</a>
            </div>
        </div>
    </div>
</nav>

<div class="header"></div>