<nav class="navbar sticky-top navbar-expand-lg">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-1">
            <li class="nav-item active">
                <img src="assets/test.png">
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li>
                <a class="nav-link" href="/">Med Aid</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <input type="text" class="search pl-3" placeholder="Search"/>
    </div>
    
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/upcomingAppointments">Profile</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-2">
            <li>
                <img class="profile" src="assets/test.png">
            </li>
        </ul>
    </div>
</nav>

<div class="header"></div>