.card {
    width: 200px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 10px #00000050;
    margin: 25px;
    /* color: #606060; */
    padding: 30px;
}

.card-img-top {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* margin-top: 30px; */
}

a {
    color: black;
}

.card-title {
    font-weight: 600;
    margin: 0;
    font-size: 16px;
}

.card-body {
    text-align: center;
    padding: 0;
    align-self: center;
    /* margin-bottom: 10px; */
}

.view-btn, .edit-btn, .cancel-btn {
    width: 100px;
    background-color: #133C55;
    border: none;
    border-radius: 50px;
    margin: 10px;
    padding: 5px 15px 5px 15px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    align-self: flex-end;
}

.view-btn {
    width: 120px;
}
/* .cancel-btn {
    margin-top: 10px;
} */

.view-btn:hover, .edit-btn:hover, .cancel-btn:hover {
    color: white;
}

.date {
    text-align: center;
    margin: 0;
}

/* .edit-btn {
    position: absolute;
    bottom: 30px;
    left: 0;
} */

.button-wrap {
    position: relative;
}

.button {
    position: absolute;
    display: inline-block;
    height: 32px;
    width: 93px;
    text-align: center;
    padding: 6px;
    cursor: pointer;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #133C55;
    border: 1px solid lightgray;
    font-size: 12px;
    color: white;
}