body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin-bottom: 50px;
}

.options, .tabs {
    display: flex;
    justify-content: center;
}

.options a, .tabs a {
    font-size: 16px;
    padding: 0 15 0 15;
    font-weight: 600;
}

.tabs a {
    font-size: 20px;
    margin-top: 20px;
}

a:hover {
    color: black;
    text-decoration: none;
}

.del-body {
    text-align: center;
    padding-bottom: 30px;
}

.del-footer, .del-header {
    text-align: center;
    justify-content: center;
}

.del-header {
    padding-top: 20px;
    border: none;
    font-weight: bold;
    font-size: 20px;
}

.modal-title {
    font-weight: bold;
}

.card-title-home {
    text-align: center;
    padding-top: 15px;
}

.card-body-home {
    margin-top: 10px;
}

.error-message {
    margin: 20px;
    text-align: center;
}

.error-btn {
    background-color: #133C55;
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 50px;
    text-align: center;
    padding: 7px;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.error-btn:hover {
    color: white;
}