.navbar {
    font-family: "Open Sans", sans-serif;
    background-color: #133C55;
    height: 70px;
}

.search {
    width: 350px;
    height: 30px;
    border: none;
    border-radius: 50px;
}

.nav-link:hover {
    color: white;
    /* font-weight: bold; */
}

.nav-link {
    color: white;
    font-size: 18px;
}

img {
    width: 30px;
    margin: auto;
}

.profile {
    border-radius: 50px;
}